version: "3.9"
services:
  mariadb:
    container_name: mariadb
    image: mariadb:latest
    ports:
      - 3306:3306
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: testdb
    restart: always

  sampleapp:
    container_name: sample_app
    build: .
    environment:
      MARIADB_ADDRESS: mariadb
      MARIADB_USERNAME: root
      MARIADB_PASSWORD: root
    ports:
      - 8080:8080
    restart: always
    links:
      - mariadb
    depends_on:
      - mariadb